.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #333;
  color: #fff;
}

.header__title {
  margin: 0;
  font-size: 36px;
}

.header__nav {
  display: flex;
}

.header__nav-item {
  margin-left: 20px